@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Finger+Paint&family=Potta+One&family=Yusei+Magic&display=swap');

.Yusei-Magic-text{
    font-family: 'Yusei Magic', sans-serif;
}

.Potta-One-text{
    font-family: 'Potta One', cursive;
}

.Monoton-text{
    font-family: 'Monoton', cursive;
}

.FP-text{
    font-family: 'Finger Paint', cursive;
}